# Data Extraction

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import requests
from bs4 import BeautifulSoup

In [2]:
#get the web page
url = "https://es.wikipedia.org/wiki/La_M%C3%A1s_Draga_(M%C3%A9xico)"

In [3]:
#get the scores web page
url_2 = "https://rupaulsdragrace.fandom.com/wiki/La_M%C3%A1s_Draga_(Season_2)#Scores_Overall"
url_3 = "https://rupaulsdragrace.fandom.com/wiki/La_M%C3%A1s_Draga_(Season_3)#Scores_Overall"
url_4 = "https://rupaulsdragrace.fandom.com/wiki/La_M%C3%A1s_Draga_(Season_4)#Scores_Overall"
url_5 = "https://rupaulsdragrace.fandom.com/wiki/La_M%C3%A1s_Draga_(Season_5)#Scores_Overall"

In [4]:
#extract data from all seasons of the show
html = pd.read_html(url)
progress_s2 = html[7]
progress_s3 = html[10]
progress_s4 = html[13]
progress_s5 = html[16]
progress_s3.head()

,Concursante,Ep. 1 Suertuda,Ep. 2 Prehispánica,Ep. 3 Fichera,Ep. 4 Chespirito,Ep. 5 Famosa,Ep. 6 Legendaria,Ep. 7 Bella Srta. México,Ep. 8 Buchona,Ep. 9 Antojable,Ep. 10 Día de Muertas,Ep. 11 Gran Final
0,Aviesc Who?,ALTA,MENOS,LA MÁS,SALV,ELIM,NaN,NaN,ALTA,MENOS,Compitiendo,Ganadora
1,Madison Basrey,SALV,ALTA,ALTA,SALV,ALTA,LA MÁS,ALTA,LA MÁS,SALV,Compitiendo,Finalista
2,Raga Diamante,SALV,LA MÁS,SALV,LA MÁS,ALTA,SALV,LA MÁS,SALV,ALTA,Compitiendo,Finalista
3,Rudy Reyes,SALV,SALV,BAJA,SALV,BAJA,MENOS,ALTA,SALV,LA MÁS,Compitiendo,Finalista
4,Memo Reyri,ALTO,SALV,SALV,SALV,EL MÁS,ALTO,BAJO,MENOS,ELIM,Invitado,Invitado

In [5]:
response = requests.get(url_2)

soup = BeautifulSoup(response.content, 'html.parser')

if response.status_code == 200:
    soup = BeautifulSoup(response.content, 'html.parser')
    tables = soup.find_all('table')

    if len(tables) >= 6:
        table = tables[5]

        data = []
        for i, row in enumerate(table.find_all('tr')):
            cells = row.find_all('td')
            if cells:
                row_data = [cell.get_text(strip=True) for cell in cells[:8]]
                data.append(row_data)
                
            if i >= 10:
                break

        #create a DataFrame from the scraped data
        df = pd.DataFrame(data, columns=["Participant", "1", "2", "3", "4", "5", "6", "7"])
        df = df.drop_duplicates(subset=["Participant", "1"])

        print(df)

    else:
        print("Fifth table not found on the page.")

else:
    print("Failed to retrieve the page. Status code:", response.status_code)

         Participant   1   2   3     4     5     6     7
0         Alexis 3XL  14  13  18    18    15    19    18
1           Gvajardo  19   8   8    10    12    16    12
2     Sophia Jiménez  19  13  20    17    20    15    12
3           Job Star   6  16  12    10    18     8    18
4         Soro Nasty  12  10   5    11     6    13
5             Amelia   8   9  11    11     5        None
6     Red Rabbit Duo   9  19  11     8        None  None
7       Leandra Rose  10   9   4        None  None  None
8  Nina De La Fuente  11   8      None  None  None  None

In [6]:
#create a function to scrape data across multiple web pages with similar content

def scrape_season_scores(url_score, num_columns, num_rows, table_number):
    response = requests.get(url_score)
    soup = BeautifulSoup(response.content, 'html.parser')

    if response.status_code == 200:
        # Locate the table and extract the data
        tables = soup.find_all('table')

        if len(tables) >= 8:
            table = tables[table_number]
        
        data = []
        for i, row in enumerate(table.find_all('tr')):
                cells = row.find_all('td')
                if cells:
                # Collect text content of the columns (up to num_columns)
                    row_data = [cell.get_text(strip=True) for cell in cells[:num_columns]]
                    data.append(row_data)

                # Limit to the first num_rows
                if i >= num_rows:
                    break

            # Create a DataFrame from the scraped data
        df = pd.DataFrame(data, columns=["Participant"] + [str(i) for i in range(1, num_columns)])
        df = df.drop_duplicates(subset=["Participant"])

        return df
    else:
        print("Failed to retrieve the page. Status code:", response.status_code)
        return None

score_s2 = scrape_season_scores(url_2, 8, 10, 5)
score_s3 = scrape_season_scores(url_3, 10, 14, 6)
score_s4 = scrape_season_scores(url_4,11, 15, 7)
score_s5 = scrape_season_scores(url_5, 11, 13, 5)

In [7]:
progress_tables = [progress_s2, progress_s3, progress_s4, progress_s5]

In [8]:
scores_df =[score_s2, score_s3, score_s4, score_s5]

In [9]:
# Create data frames from all the tables
def create_dataframes(tables):
  """Creates a list of Pandas DataFrames from a list of tables.

  Args:
    tables: A list of tables

  Returns:
    A list of Pandas DataFrames, where each DataFrame represents a table.
  """

  df = []
  for table in tables:
    dataframe = pd.DataFrame(table)
    df.append(dataframe)
  return df

progress_all_df = create_dataframes(progress_tables)
print(progress_all_df)

[         Concursante Ep. 1 Típica Ep. 2 Religiosa Ep. 3 Luchona Ep. 4 Piñata  \
0         Alexis 3XL   ALTA MENOS            ALTA          ALTA       LA MÁS
1     Sophia Jimenez       LA MÁS            SALV        LA MÁS         ALTA
2           Gvajardo       LA MÁS           MENOS          BAJA        MENOS
3           Job Star   MENOS BAJA            ALTA          ALTA        MENOS
4         Soro Nasty         SALV            SALV         MENOS         SALV
5     Amelia Waldorf        MENOS            SALV          SAFE         ALTA
6     Red Rabbit Duo        BAJAS         LAS MÁS          SALV         ELIM
7       Leandra Rose         SALV            BAJA          ELIM     Invitada
8  Nina De La Fuente         SALV            ELIM           NaN     Invitada

  Ep. 5 Juanga Ep. 6 Independiente Ep. 7 Villana Ep. 8 Día de Muertas  \
0         SALV              LA MÁS         MENOS          Compitiendo
1       LA MÁS                SALV         MENOS          Compitiendo
2         SALV                ALTA         MENOS          Compitiendo
3         ALTA               MENOS          ELIM             Invitada
4        MENOS                ELIM           NaN             Invitada
5         ELIM                 NaN           NaN             Invitada
6          NaN                 NaN           NaN             Invitada
7          NaN                 NaN           NaN             Invitada
8          NaN                 NaN           NaN             Invitada

  Ep. 9 Gran Final
0         Ganadora
1        Finalista
2        Finalista
3         Invitada
4         Invitada
5              LMQ
6         Invitada
7         Invitada
8         Invitada  ,        Concursante Ep. 1 Suertuda Ep. 2 Prehispánica Ep. 3 Fichera  \
0      Aviesc Who?           ALTA              MENOS        LA MÁS
1   Madison Basrey           SALV               ALTA          ALTA
2    Raga Diamante           SALV             LA MÁS          SALV
3       Rudy Reyes           SALV               SALV          BAJA
4       Memo Reyri           ALTO               SALV          SALV
5        Mista Boo         LA MÁS               SALV          SALV
6     Regina Bronx           SALV               SALV          SALV
7      Iviza Lioza           BAJA               SALV          SALV
8     Luna Lansman           SALV               BAJA          ALTA
9           Wynter           SALV               SALV          SALV
10        Huntyy B           SALV               SALV         MENOS
11       StupiDrag          MENOS               ALTA          ELIM
12    Yayoi Bowery          MENOS               ELIM           NaN

   Ep. 4 Chespirito Ep. 5 Famosa Ep. 6 Legendaria Ep. 7 Bella Srta. México  \
0              SALV         ELIM              NaN                      NaN
1              SALV         ALTA           LA MÁS                     ALTA
2            LA MÁS         ALTA             SALV                   LA MÁS
3              SALV         BAJA            MENOS                     ALTA
4              SALV       EL MÁS             ALTO                     BAJO
5              SALV         SALV             SALV                     SALV
6             MENOS       LA MÁS             ALTA                    MENOS
7              BAJA         SALV             BAJA                     ELIM
8              ALTA         SALV             ELIM                      NaN
9              ALTA         ELIM              NaN                      NaN
10             ELIM          NaN              NaN                      NaN
11              NaN          NaN              NaN                      NaN
12              NaN          NaN              NaN                      NaN

   Ep. 8 Buchona Ep. 9 Antojable Ep. 10 Día de Muertas Ep. 11 Gran Final
0           ALTA           MENOS           Compitiendo          Ganadora
1         LA MÁS            SALV           Compitiendo         Finalista
2           SALV            ALTA           Compitiendo         Finalista
3           SALV          LA MÁS           Compitiendo         Finalista
4          MENOS            ELIM              Invitado          Invitado
5           ALTA            ELIM              Invitada          Invitada
6           ELIM             NaN              Invitada          Invitada
7            NaN             NaN              Invitada          Invitada
8            NaN             NaN              Invitada               LMV
9            NaN             NaN              Invitada               LMQ
10           NaN             NaN              Invitada          Invitada
11           NaN             NaN              Invitada          Invitada
12           NaN             NaN              Invitada          Invitada  ,            Concursante Ep. 1 Folklórica Ep. 2 Pintada Ep. 3 Revolucionaria  \
0           Rebel Mörk             SALV          ALTA                 SALV
1               C-Pher             SALV        LA MÁS                 ALTA
2              Iris XC             SALV          SALV                 SALV
3   Elektra Vandergeld             SALV          BAJA                 ALTA
4        La Morra Lisa             SALV          SALV                 SALV
5            Leexa Fox             SALV          SALV                 SALV
6          Lupita Kush            MENOS          SALV                 BAJA
7            Georgiana             BAJA         MENOS           SALV MENOS
8            Vera Cruz            ENTRA          SALV                 ALTA
9             Tiresias             ALTA          SALV                MENOS
10           Paper Cut             ALTO          ALTO               EL MÁS
11              Sirena           LA MÁS          SALV                 SALV
12          La Carrera            MENOS          SALV                 ELIM
13      Aurora Wonders            ENTRA          ELIM                  NaN

   Ep. 4 Recursiva Ep. 5 Cachuda Ep. 6 Famosa Ep. 7 Rosa Mexicano Ep. 8 Chola  \
0             SALV          SALV         SALV                SALV      LA MÁS
1             ALTA          ALTA      ALTA EG                BAJA        ALTA
2             SALV          SALV         SALV                ALTA        ALTA
3           LA MÁS          SALV      ALTA EG              LA MÁS       MENOS
4             SALV          BAJA      ALTA EG               MENOS        SALV
5             SALV        LA MÁS        MENOS               MENOS        SALV
6            MENOS          SALV         SALV                SALV        SALV
7             SALV          SALV       LA MÁS                SALV        ELIM
8             BAJA          ALTA       LA MÁS                ALTA        ELIM
9             SALV         MENOS         ELIM                 NaN         NaN
10            ALTO          ELIM          NaN                 NaN         NaN
11            ELIM           NaN          NaN                 NaN         NaN
12             NaN           NaN          NaN                 NaN         NaN
13             NaN           NaN          NaN                 NaN         NaN

   Ep. 9 Cri Cri Ep. 10 Imperial Ep. 11 Día de Muertas Ep. 12 Gran Final
0           BAJA           MENOS           Compitiendo          Ganadora
1         LA MÁS          LA MÁS           Compitiendo         Finalista
2           ALTA            ALTA           Compitiendo         Finalista
3          MENOS           MENOS           Compitiendo         Finalista
4           ALTA            ELIM              Invitada          Invitada
5           SALV            ELIM              Invitada          Invitada
6           ELIM             NaN              Invitada          Invitada
7            NaN             NaN              Invitada               LMQ
8            NaN             NaN              Invitada          Invitada
9            NaN             NaN              Invitada          Invitada
10           NaN             NaN              Invitado               LMV
11           NaN             NaN              Invitada          Invitada
12           NaN             NaN              Invitada          Invitada
13           NaN             NaN              Invitada          Invitada  ,             Concursante Ep. 1 Artesanal Ep. 2 Juguete Ep. 3 A Color  \
0            Fifí Estah            SALV        LA MÁS        LA MÁS
1             Paper Cut           ENTRA          SALV          SALV
2        Liza Zan Zuzzi            ALTA          SALV          SALV
3        Hidden Mistake            SALV          SALV          SALV
4           Santa Lucía            SALV         MENOS          SALV
5          Gretha White            SALV          SALV         MENOS
6         Peke Balderas          LA MÁS          ALTA          ALTA
7       Aisha Dollkills           MENOS          SALV          ELIM
8            Light King            SALV          SALV          SALV
9             Huma Kyle            ELIM          BAJA          SALV
10  Isabella y Catalina           BAJAS         ALTAS          SALV
11           Deseos Fab            SALV          ELIM           NaN

   Ep. 4 Recursiva Ep. 5 Famosa Ep. 6 Del Toro Ep. 7 Tejocote Ep. 8 Futurista  \
0             SALV         SALV           BAJA           SALV           MENOS
1           EL MÁS         ALTO         EL MÁS           ALTO            ALTO
2            MENOS       LA MÁS           ALTA           ALTA            SALV
3             SALV         BAJA          MENOS         LA MÁS            BAJA
4           LA MÁS        MENOS           SALV           SALV          LA MÁS
5             SALV         SALV           SALV           SALV            ALTA
6             SALV         ALTA           SALV          MENOS            ELIM
7              NaN          NaN         VUELVE           ELIM             NaN
8             ALTA         SALV           ALTA          ABAND             NaN
9       MENOS SALV         ELIM         ABDICÓ            NaN             NaN
10            ELIM          NaN      Invitadas            NaN             NaN
11             NaN          NaN       Invitada            NaN             NaN

   Ep. 9 Lele Ep. 10 Monja Coronada Ep. 11 Día de Muertas  Ep. 12 Gran Final  \
0        SALV                  GANA           Compitiendo           Ganadora
1        ALTO                  ALTO           Compitiendo          Finalista
2        ALTA                  BAJA           Compitiendo          Finalista
3        SALV                  ELIM              Invitada  Finalista Secreta
4        SALV                  ALTA                 ABAND           Invitada
5      LA MÁS                  ELIM              Invitada           Invitada
6         NaN                   NaN              Invitada           Invitada
7         NaN                   NaN              Invitada           Invitada
8         NaN                   NaN              Invitada           Invitada
9         NaN                   NaN              Invitada                LMQ
10        NaN                   NaN             Invitadas          Invitadas
11        NaN                   NaN              Invitada           Invitada

   Ep. 12 Gran Final.1
0                  LMV
1            Finalista
2            Finalista
3    Finalista Secreta
4             Invitada
5             Invitada
6             Invitada
7             Invitada
8             Invitada
9                  LMQ
10           Invitadas
11            Invitada  ]

In [10]:
merge_all_scores_df =pd.concat(scores_df, ignore_index=True) 
merge_all_scores_df

            Participant   1   2   3     4     5     6     7     8     9    10
0            Alexis 3XL  14  13  18    18    15    19    18   NaN   NaN   NaN
1              Gvajardo  19   8   8    10    12    16    12   NaN   NaN   NaN
2        Sophia Jiménez  19  13  20    17    20    15    12   NaN   NaN   NaN
3              Job Star   6  16  12    10    18     8    18   NaN   NaN   NaN
4            Soro Nasty  12  10   5    11     6    13         NaN   NaN   NaN
5                Amelia   8   9  11    11     5        None   NaN   NaN   NaN
6        Red Rabbit Duo   9  19  11     8        None  None   NaN   NaN   NaN
7          Leandra Rose  10   9   4        None  None  None   NaN   NaN   NaN
8     Nina De La Fuente  11   8      None  None  None  None   NaN   NaN   NaN
9           Aviesc Who?  14   5  20    11     6          18    10  None   NaN
10              Madison   8  15  18    15    18    19    19    19    16   NaN
11           Rudy Reyes  12  10   9    15    10     7    19    13    20   NaN
12        Raga Diamante  12  19  16    23    17    14    20    15    19   NaN
13           Memo Reyri  17  11  15    12    19    16    13     6     8   NaN
14            Mista Boo  19  13  13    14    14    15    18    16     6   NaN
15         Regina Bronx   7  11  14     8    19    18    10     8         NaN
16          Iviza Lioza   6  13  10    10    13     9     8        None   NaN
17         Luna Lansman  11   8  18    19    15     8        None  None   NaN
18               Wynter   7  12  12    17     8        None  None  None   NaN
19             Huntyy B  11  10   8     9        None  None  None  None   NaN
20            StupiDrag   5  16   5        None  None  None  None  None   NaN
21         Yayoi Bowery   5   6      None  None  None  None  None  None   NaN
22           Rebel Mörk  13  20  16    17    15    10    15    20    12    12
23               C-Pher  12  22  17    18    18     6    13    18    19    19
24   Elektra Vandergeld  16   8  18    20    16    18    20     7     8    12
25              Iris XC  15  16  15    17    16    15    17    19    16    18
26        La Morra Lisa  15  17  15    17    10    12    11    17    18    12
27            Leexa Fox  11  15  15    15    19     7    11    15    15    12
28          Lupita Kush   7  17  11     8    13    16    16    12     7
29            Georgiana  10   6  12    14    15    19    14     7        None
30            Vera Cruz      16  18    11    17    19    18     7        None
31             Tiresias  18  15   8    12     8     5        None  None  None
32            Paper Cut  17  18  19    19     8        None  None  None  None
33               Sirena  19  12  14    10        None  None  None  None  None
34           La Carrera   7  12  10        None  None  None  None  None  None
35       Aurora Wonders       5      None  None  None  None  None  None  None
36           Fifí Estah  16  20  19    14    18     9    14    11    16    20
37            Paper Cut      16  16    19    18    20    19    18    18    19
38       Liza Zan Zuzzi  18  15  17     6    19    19    18    16    19    16
39       Hidden Mistake  16  15  15    17    13     8    20    15    16    16
40          Santa Lucía  13   7  15    19     8    17    16    20    16    18
41         Gretha White  15  13   8    16    15    12    17    19    20    12
42        Peke Balderas  19  19  18    15    17    15    10     8        None
43      Aisha Dollkills   7  14  12          12        None  None  None  None
44           Light King  16  14   6    18    18    18     8        None  None
45            Huma Kyle   8  10  10     8    12        None  None  None  None
46  Isabella y Catalina  12  17  17    10        None  None  None  None  None
47           Deseos Fab  14   8      None  None  None  None  None  None  None

In [11]:
merge_all_scores_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Participant  48 non-null     object
 1   1            48 non-null     object
 2   2            48 non-null     object
 3   3            48 non-null     object
 4   4            44 non-null     object
 5   5            41 non-null     object
 6   6            37 non-null     object
 7   7            32 non-null     object
 8   8            25 non-null     object
 9   9            22 non-null     object
 10  10           13 non-null     object
dtypes: object(11)
memory usage: 4.2+ KB

# Data Transformation

In [12]:
# create a data frame for each season
df = pd.DataFrame(progress_s2)
df.head()

,Concursante,Ep. 1 Típica,Ep. 2 Religiosa,Ep. 3 Luchona,Ep. 4 Piñata,Ep. 5 Juanga,Ep. 6 Independiente,Ep. 7 Villana,Ep. 8 Día de Muertas,Ep. 9 Gran Final
0,Alexis 3XL,ALTA MENOS,ALTA,ALTA,LA MÁS,SALV,LA MÁS,MENOS,Compitiendo,Ganadora
1,Sophia Jimenez,LA MÁS,SALV,LA MÁS,ALTA,LA MÁS,SALV,MENOS,Compitiendo,Finalista
2,Gvajardo,LA MÁS,MENOS,BAJA,MENOS,SALV,ALTA,MENOS,Compitiendo,Finalista
3,Job Star,MENOS BAJA,ALTA,ALTA,MENOS,ALTA,MENOS,ELIM,Invitada,Invitada
4,Soro Nasty,SALV,SALV,MENOS,SALV,MENOS,ELIM,NaN,Invitada,Invitada

In [13]:
# Melt the DataFrame to achieve the desired format
melted_df = pd.melt(df, id_vars=["Concursante"], var_name="Nombre_de_episodio", value_name="Progreso")
print(melted_df.head())

      Concursante Nombre_de_episodio    Progreso
0      Alexis 3XL       Ep. 1 Típica  ALTA MENOS
1  Sophia Jimenez       Ep. 1 Típica      LA MÁS
2        Gvajardo       Ep. 1 Típica      LA MÁS
3        Job Star       Ep. 1 Típica  MENOS BAJA
4      Soro Nasty       Ep. 1 Típica        SALV

In [14]:
# Add new columns
melted_df["Episodio"] = melted_df["Nombre_de_episodio"].str.extract(r'(\d+)').astype(int)
melted_df["Nombre_de_episodio"] = melted_df["Nombre_de_episodio"].str.replace(r'Ep. \d+ ', '', regex=True)
print(melted_df.head())

      Concursante Nombre_de_episodio    Progreso  Episodio
0      Alexis 3XL             Típica  ALTA MENOS         1
1  Sophia Jimenez             Típica      LA MÁS         1
2        Gvajardo             Típica      LA MÁS         1
3        Job Star             Típica  MENOS BAJA         1
4      Soro Nasty             Típica        SALV         1

In [15]:
# Reorder columns
melted_df = melted_df[["Concursante", "Episodio", "Nombre_de_episodio", "Progreso"]]

In [16]:
# Reset index and sort values
melted_df.sort_values(by=["Concursante", "Episodio"], inplace=True)
melted_df.reset_index(drop=True, inplace=True)
print(melted_df.head())

  Concursante  Episodio Nombre_de_episodio    Progreso
0  Alexis 3XL         1             Típica  ALTA MENOS
1  Alexis 3XL         2          Religiosa        ALTA
2  Alexis 3XL         3            Luchona        ALTA
3  Alexis 3XL         4             Piñata      LA MÁS
4  Alexis 3XL         5             Juanga        SALV

In [17]:
# Create a progress data frame with all seasons data

progress_df = []

for season in progress_all_df:
    melted_df = pd.melt(season, id_vars=["Concursante"], var_name="Nombre_de_episodio", value_name="Progreso")
    melted_df["Episodio"] = melted_df["Nombre_de_episodio"].str.extract(r'(\d+)').astype(int)
    melted_df["Nombre_de_episodio"] = melted_df["Nombre_de_episodio"].str.replace(r'Ep. \d+ ', '', regex=True)
    melted_df = melted_df[["Concursante", "Episodio", "Nombre_de_episodio", "Progreso"]]
       
    progress_df.append(melted_df)
  
progress_df = pd.concat(progress_df, ignore_index=True)
progress_df.sort_values(by=["Concursante", "Episodio"], inplace=True)
progress_df.reset_index(drop=True, inplace=True)
progress_df = progress_df.drop_duplicates()  

progress_df

         Concursante  Episodio  Nombre_de_episodio  Progreso
0    Aisha Dollkills         1           Artesanal     MENOS
1    Aisha Dollkills         2             Juguete      SALV
2    Aisha Dollkills         3             A Color      ELIM
3    Aisha Dollkills         4           Recursiva       NaN
4    Aisha Dollkills         5              Famosa       NaN
..               ...       ...                 ...       ...
543     Yayoi Bowery         7  Bella Srta. México       NaN
544     Yayoi Bowery         8             Buchona       NaN
545     Yayoi Bowery         9           Antojable       NaN
546     Yayoi Bowery        10      Día de Muertas  Invitada
547     Yayoi Bowery        11          Gran Final  Invitada

[548 rows x 4 columns]

In [18]:
progress_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 548 entries, 0 to 547
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Concursante         548 non-null    object
 1   Episodio            548 non-null    int32
 2   Nombre_de_episodio  548 non-null    object
 3   Progreso            444 non-null    object
dtypes: int32(1), object(3)
memory usage: 19.3+ KB

In [19]:
merge_all_scores_df_1 = pd.melt(merge_all_scores_df, id_vars=["Participant"], value_name="Calificacion", var_name="Episodio")
merge_all_scores_df_1

             Participant Episodio Calificacion
0             Alexis 3XL        1           14
1               Gvajardo        1           19
2         Sophia Jiménez        1           19
3               Job Star        1            6
4             Soro Nasty        1           12
..                   ...      ...          ...
475      Aisha Dollkills       10         None
476           Light King       10         None
477            Huma Kyle       10         None
478  Isabella y Catalina       10         None
479           Deseos Fab       10         None

[480 rows x 3 columns]

In [20]:
merge_all_scores_df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Participant   480 non-null    object
 1   Episodio      480 non-null    object
 2   Calificacion  358 non-null    object
dtypes: object(3)
memory usage: 11.4+ KB

In [21]:
merge_all_scores_df_1.rename(columns={"Participant":"Concursante"}, inplace=True)

In [22]:
merge_all_scores_df_1["Episodio"] = merge_all_scores_df_1["Episodio"].astype(int)

In [23]:
merge_all_scores_df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Concursante   480 non-null    object
 1   Episodio      480 non-null    int32
 2   Calificacion  358 non-null    object
dtypes: int32(1), object(2)
memory usage: 9.5+ KB

In [24]:
progress_data_set = pd.merge(progress_df, merge_all_scores_df_1, on=["Concursante", "Episodio"])
progress_data_set

         Concursante  Episodio  Nombre_de_episodio  Progreso Calificacion
0    Aisha Dollkills         1           Artesanal     MENOS            7
1    Aisha Dollkills         2             Juguete      SALV           14
2    Aisha Dollkills         3             A Color      ELIM           12
3    Aisha Dollkills         4           Recursiva       NaN
4    Aisha Dollkills         5              Famosa       NaN           12
..               ...       ...                 ...       ...          ...
458     Yayoi Bowery         6          Legendaria       NaN         None
459     Yayoi Bowery         7  Bella Srta. México       NaN         None
460     Yayoi Bowery         8             Buchona       NaN         None
461     Yayoi Bowery         9           Antojable       NaN         None
462     Yayoi Bowery        10      Día de Muertas  Invitada         None

[463 rows x 5 columns]

In [25]:
progress_data_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 463 entries, 0 to 462
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Concursante         463 non-null    object
 1   Episodio            463 non-null    int32
 2   Nombre_de_episodio  463 non-null    object
 3   Progreso            356 non-null    object
 4   Calificacion        352 non-null    object
dtypes: int32(1), object(4)
memory usage: 19.9+ KB

In [26]:
progress_data_set["Progreso"] = progress_data_set["Progreso"].fillna("FUERA")

In [27]:
progress_data_set["Calificacion"] = pd.to_numeric(progress_data_set["Calificacion"], errors='coerce')
progress_data_set["Calificacion"].fillna(0, inplace=True)
progress_data_set["Calificacion"] = progress_data_set["Calificacion"].astype(int)

In [28]:
progress_data_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 463 entries, 0 to 462
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Concursante         463 non-null    object
 1   Episodio            463 non-null    int32
 2   Nombre_de_episodio  463 non-null    object
 3   Progreso            463 non-null    object
 4   Calificacion        463 non-null    int32
dtypes: int32(2), object(3)
memory usage: 18.1+ KB

# Data Load

In [29]:
print(progress_data_set)

         Concursante  Episodio  Nombre_de_episodio  Progreso  Calificacion
0    Aisha Dollkills         1           Artesanal     MENOS             7
1    Aisha Dollkills         2             Juguete      SALV            14
2    Aisha Dollkills         3             A Color      ELIM            12
3    Aisha Dollkills         4           Recursiva     FUERA             0
4    Aisha Dollkills         5              Famosa     FUERA            12
..               ...       ...                 ...       ...           ...
458     Yayoi Bowery         6          Legendaria     FUERA             0
459     Yayoi Bowery         7  Bella Srta. México     FUERA             0
460     Yayoi Bowery         8             Buchona     FUERA             0
461     Yayoi Bowery         9           Antojable     FUERA             0
462     Yayoi Bowery        10      Día de Muertas  Invitada             0

[463 rows x 5 columns]

In [30]:
engine = create_engine("mysql+pymysql://root:NilArj_21@localhost:3306/project")

table_name = "la_mas_draga_scores"

progress_data_set.to_sql(
    table_name,
    con=engine,
    if_exists='replace',
    index=False
)

463

In [31]:
engine.dispose()